@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


.logo-usuario {
    width: 48px;
    margin-right: 20px;
}

.logo {
    width: 48px;
    margin-left: 20px;
}


/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #808080;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenedor de usuario */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-info .icono-salir {
    width: 25px;
    height: 35px;
}
.user-details {
    display: flex;
}

/* Nombre y correo de usuario */
.user-name {
    font-weight: bold;
    color: #333;
    margin: 0;
    margin-right: 20px;
}
.user-email {
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-right: 20px;
}

/* Botón de salir */
#btn-salir {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #d9534f;
    /* Color rojo */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
}
#btn-salir:hover {
    background-color: #c9302c;
}
