@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


.logo-usuario {
    width: 48px;
    margin-right: 20px;
}

.logo {
    width: 48px;
    margin-left: 20px;
}


/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #808080;
    /* Gris medio */
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
}


/* Estilos para el contenedor de usuario */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info .icono-salir {
    width: 25px;
    height: 35px;
}

/* Contenedor de detalles del usuario */
.user-details {
    display: flex;
}

/* Nombre de usuario */
.user-name {
    font-weight: bold;
    color: #333;
    margin: 0;
    margin-right: 20px;
}

/* Correo de usuario */
.user-email {
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-right: 20px;
}

/* Botón de salir */
#btn-salir {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #d9534f;
    /* Color rojo */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
}

#btn-salir:hover {
    background-color: #c9302c;
}

.table thead th {
    background-color: #000080;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td .badge-baja {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 25px;
}

td .badge-alta {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 25px;
}

.table td {
    vertical-align: middle;
}

.actions a {
    color: rgb(59, 184, 233);
    margin-right: 8px;
    text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}



.header-title {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fff;
    gap: 50px;
    /* Espacio entre el h2 y el campo de búsqueda */
}

/* Estilo del título */
.header-title h2 {
    font-weight: bold;
    color: #2c3e50;
    font-size: 29px;
    margin: 0;
}

/* Contenedor del campo de búsqueda */
.search-container {
    position: relative;
    flex-grow: 1;
    /* Hace que el campo de búsqueda ocupe el espacio sobrante */
    max-width: 300px;
    /* Controla el ancho máximo */
}

/* Estilo del input de búsqueda */
.search-input {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    background-color: #f2f2f2;
}

/* Estilo del ícono de búsqueda */
.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
    cursor: pointer;
}


.col-auto h5 {
    font-size: 1rem;
}

.modal-footer .btn-guardar {
    background-color: #000070;
}

.modal-footer .btn-guardar:hover {
    background-color: #000070;
}

.productos .btn-agregar {
    width: fit-content;
    background-color: #000080;
    color: white;
    font-weight: bold;
    border: none;
}

.btn-agregar:hover {
    background-color: #000070;
}

.input-wrapper {
    text-align: center;
}

.input-wrapper label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.input-wrapper input {
    width: 130px;
    height: 40px;
    font-size: 16px;
    border-radius: 30px;
    outline: none;
    font-weight: 500;
}

.input-wrapper input:focus {
    border-color: #000;
}

.input-wrapper label {
    font-weight: 500;
}