


.table thead th {
    background-color: green;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td .badge-baja {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 25px;
}

td .badge-alta {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 25px;
}

.table td {
    vertical-align: middle;
}


.header-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 20px;
    padding: 20px;
    background-color: #fff;
    gap: 50px;
}

/* Estilo del título */
.header-title h2 {
    font-weight: bold;
    color: #2c3e50;
    font-size: 29px;
    margin: 0;
}

/* Contenedor del campo de búsqueda */
.search-container {
    position: relative;
    flex-grow: 1;
    max-width: 300px;
}

/* Estilo del input de búsqueda */
.search-input {
    width: 600px;
    padding: 10px 35px 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    background-color: #f2f2f2;
}

/* Estilo del ícono de búsqueda */
.search-icon {
    position: absolute;
    left: 560px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
    cursor: pointer;
}


.col-auto h5 {
    font-size: 1rem;
}












