<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/productos.css">
    <title>Lista de Productos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="nav-item d-flex align-items-center">
                        <img src="https://via.placeholder.com/40" class="rounded-circle me-2" alt="User" />
                        <span class="me-3">Posada Javier</span>
                        <span>Ignacio9876.ijjp@gmail.com</span>
                    </div>
                </div>
            </div>
        </nav>

        <div class="d-flex justify-content-between align-items-center my-4">
            <h2 class="header-title">PRODUCTOS</h2>
        </div>

       
        <section class="productos d-flex flex-column">
            <button class="btn btn-agregar align-self-end my-4" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Agregar producto</button>
            <div class="table-responsive">
                <table class="table table-bordered text-center mt-4">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Cantidad</th>
                            <th>Fecha Ing.</th>
                            <th>Ganancia</th>
                            <th>Pre. Com.</th>
                            <th>Pre. Venta</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="materiales-body">
                        
                    </tbody>
                </table>
            </div>
        </section>

        
        <div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Agregar Producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formulario">
                                <div class="mb-3">
                                    <label for="material" class="form-label">Nombre del Producto</label>
                                    <input type="text" class="form-control" id="material" required>
                                </div>
                                <div class="mb-3">
                                    <label for="cantidad" class="form-label">Cantidad del Producto</label>
                                    <input type="number" class="form-control" id="cantidad" required>
                                </div>
                                <div class="mb-3">
                                    <label for="proveedor" class="form-label">Proveedor</label>
                                    <select class="form-select" id="proveedor" required>
                                        <option value="">Seleccione un proveedor</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="precio-compra" class="form-label">Precio Compra</label>
                                    <input type="number" class="form-control" id="precio-compra" required>
                                </div>
                                <div class="mb-3">
                                    <label for="margen-ganancia" class="form-label">Margen de Ganancia</label>
                                    <input type="number" class="form-control" id="margen-ganancia" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Estado</label>
                                    <div>
                                        <input type="radio" id="alta" name="estado" value="alta" required>
                                        <label for="alta">alta</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="baja" name="estado" value="baja">
                                        <label for="baja">baja</label>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="../scripts/productos.js"></script>
    </div>

</body>

</html>
