<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/productos.css">
    <title>Lista de Productos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="nav-item d-flex align-items-center">
                        <img src="https://via.placeholder.com/40" class="rounded-circle me-2" alt="User" />
                        <span class="me-3">Posada Javier</span>
                        <span>Ignacio9876.ijjp@gmail.com</span>
                    </div>
                </div>
            </div>
        </nav>

        <div class="d-flex justify-content-between align-items-center my-4">
            <h2 class="header-title">PRODUCTOS</h2>
        </div>

        <!-- Tabla de productos -->
        <section class="productos d-flex flex-column">
            <button class="btn btn-agregar align-self-end my-4" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Agregar producto</button>
            <div class="table-responsive">
                <table class="table table-bordered text-center mt-4">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Cantidad</th>
                            <th>Fecha Ing.</th>
                            <th>Ganancia</th>
                            <th>Pre. Com.</th>
                            <th>Pre. Venta</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AAA-001</td>
                            <td>CAL</td>
                            <td>Easy</td>
                            <td>300</td>
                            <td>2022-01-24</td>
                            <td>%100</td>
                            <td>$15.000</td>
                            <td>$30.000</td>
                            <td><span class="badge badge-baja">Baja</span></td>
                            <td class="actions">
                                <a href="#">Editar</a>
                                <a href="#">Detalle</a>
                            </td>
                        </tr>
                        <tr>
                            <td>AAA-002</td>
                            <td>CEMENTO</td>
                            <td>Easy</td>
                            <td>300</td>
                            <td>2022-01-24</td>
                            <td>%50</td>
                            <td>$12.450</td>
                            <td>$18.675</td>
                            <td><span class="badge badge-alta">Alta</span></td>
                            <td class="actions">
                                <a href="#">Editar</a>
                                <a href="#">Detalle</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mt-3">
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <h5 class="mb-3">NOMBRE DEL PRODUCTO</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control mb-3">
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <h5 class="mb-3">CANTIDAD DEL PRODUCTO</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control mb-3">
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-auto">
                                        <h5 class="mb-3">PROVEEDORES</label>
                                    </div>
                                    <div class="col-auto">
                                        <select class="form-select seleccionar-proveedor"
                                            aria-label="Selecciona un proveedor">
                                            <option selected>Escribe aquí</option>
                                            <option value="1">Proveedor 1</option>
                                            <option value="2">Proveedor 2</option>
                                            <option value="3">Proveedor 3</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="my-4 d-flex justify-content-between">
                                    <div class="input-wrapper">
                                        <label for="precio-compra">Precio compra</label>
                                        <input type="text" id="precio-compra" placeholder="$ 0">
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="margen-ganancia">Margen de ganancia</label>
                                        <input type="text" id="margen-ganancia" class="text-center" placeholder="0">
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="precio-venta">Precio de venta</label>
                                        <input type="text" id="precio-venta" placeholder="$ 0">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center mt-1">
                                <button class="btn btn-primary btn-guardar" data-bs-dismiss="modal">GUARDAR</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="../scripts/productos.js"></script>
</body>

</html>