<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/productos.css">
    <link rel="stylesheet" href="../assets/css/estilosGenerales.css">
    <title>Lista de Productos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">

        <nav class="navbar">
            <div class="">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/Abstract Colorful Technology Solutions Professional Logo.png" class="logo"
                        alt="User" />
                </a>
            </div>
            <div class="user-info">
                <div class="user-details">
                    <div>
                        <p class="user-name" id="nombreApellido"></p>
                        <p class="user-email" id="emailUsuario"></p>
                    </div>
                    <img src="../assets/img/icono-salir.svg" alt="cerrar sesion" class="align-self-center icono-salir"
                        id="iconoSalir">
                </div>
            </div>
        </nav>

        <div class="header-title">
            <h2>PRODUCTOS</h2>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar..." id="buscarInput">
                <span class="search-icon" id="iconoBuscar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.099zm-5.44 0a5.5 5.5 0 1 1 0-7.778 5.5 5.5 0 0 1 0 7.778z" />
                    </svg>
                </span>
            </div>
        </div>

        <section class="productos d-flex flex-column">
            <button id="openModalBtn" class="btn btn-primary align-self-end">Agregar Producto</button>
            <div class="table-responsive">
                <table class="table table-bordered text-center mt-4">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Unidad Medida</th>
                            <th>Proveedor</th>
                            <th>Cantidad</th>
                            <th>Fecha Ingreso</th>
                            <th>Ganancia</th>
                            <th>Precio Compra</th>
                            <th>Precio Venta</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="materiales-body">

                    </tbody>
                </table>
            </div>
        </section>



        <!-- Modal -->
        <div id="materialModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="modal-title">CARGA DE MATERIAL</h2>

                <form id="materialForm">
                    <div class="form-group">
                        <label for="nombre-producto">NOMBRE DEL PRODUCTO:</label>
                        <input type="text" id="material" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="cantidad">CANTIDAD:</label>
                        <input type="number" id="cantidad" placeholder="Digite la identificación" required>
                    </div>


                    <div class="form-group">
                        <label for="unidadMedida">UNIDAD DE MEDIDA:</label>
                        <select id="unidad_medida" placeholder="Elija una opción" required>
                            <option value=""></option>
                            <option value="bolsa">Bolsa</option>
                            <option value="metro">Metro</option>
                            <option value="unidad">Unidad</option>
                            <option value="kilo">Kilo</option>
                            <option value="rollo">Rollo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="proveedor">PROVEEDORES:</label>
                        <select id="proveedor" placeholder="Elija un proveedor" required>
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="precio-compra">PRECIO DE COMPRA:</label>
                        <input type="number" id="precio" placeholder="$" required>
                    </div>


                    <div class="form-group">
                        <label for="precio-venta">PRECIO DE VENTA:</label>
                        <input type="number" id="precio_venta" placeholder="$" required>
                    </div>


                    <div class="form-group">
                        <label for="margen-ganancia">MARGEN DE GANANCIA:</label>
                        <input type="number" id="ganancia" placeholder="%" required>
                    </div>


                    <div class="form-group">
                        <label for="observaciones">OBSERVACIONES:</label>
                        <textarea id="observaciones" placeholder="Escriba las observaciones..."></textarea>
                    </div>

                    <button type="submit" class="btn-guardar">GUARDAR</button>
                </form>
            </div>
            <!-- Modal de Confirmación -->
            <div id="confirmModal" class="modal_confirm">
                <div class="modal-contenido">
                    <span class="close" onclick="closeModal('confirmModal')">&times;</span>
                    <p>¿Quieres guardar los cambios realizados?</p>
                    <button onclick="confirmSave()" class="confirm-btn">Si, confirmo</button>
                </div>
            </div>



        </div>

        <!-- Modal de Éxito -->
        <div id="successModal" class="modal_confirm">
            <div class="modal-contenido">
                <span class="close" onclick="closeModal('successModal')">&times;</span>
                <p><span class="check-icon">&#10003;</span> Sus datos se guardaron correctamente</p>
            </div>
        </div>



    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/productos.js"></script>
    <script src="../scripts/cerrarsesion.js"></script>

</body>

</html>