<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/productos.css">
    <title>Lista de Productos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <div class="container-fluid">
        <nav class="navbar">
            <div class="">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/Abstract Colorful Technology Solutions Professional Logo.png" class="logo"
                        alt="User" />
                </a>
            </div>
            <div class="user-info">
                <div class="user-details">
                    <div>
                        <p class="user-name" id="nombreApellido"></p>
                        <p class="user-email" id="emailUsuario"></p>
                    </div>
                    <img src="../assets/img/icono-salir.svg" alt="cerrar sesion" class="align-self-center icono-salir">
                </div>
            </div>
        </nav>

        <div class="header-title">
            <h2>PROVEEDORES</h2>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar...">
                <span class="search-icon">
                    <!-- SVG de la lupa -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.099zm-5.44 0a5.5 5.5 0 1 1 0-7.778 5.5 5.5 0 0 1 0 7.778z" />
                    </svg>
                </span>
            </div>
        </div>

        <section class="productos d-flex flex-column">
            <button class="btn btn-agregar align-self-end my-4" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Agregar proveedores</button>
            <div class="table-responsive">
                <table class="table table-bordered text-center mt-4">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>mail</th>
                            <th>nombre</th>
                            <th>telefono</th>
                        </tr>
                    </thead>
                    <tbody id="proveedores-body">
                    </tbody>
                </table>
            </div>
        </section>

        <!-- MODAL -->
        <div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Agregar Proveedor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formulario">
                                <div class="mb-3">
                                    <label for="material" class="form-label">Nombre del Producto</label>
                                    <input type="text" class="form-control" id="material" required>
                                </div>
                                <div class="mb-3">
                                    <label for="cantidad" class="form-label">Cantidad del Producto</label>
                                    <input type="number" class="form-control" id="cantidad" required>
                                </div>
                                <div class="mb-3">
                                    <label for="proveedor" class="form-label">Proveedor</label>
                                    <select class="form-select" id="proveedor" required>
                                        <option value="">Seleccione un proveedor</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="precio-compra" class="form-label">Precio Compra</label>
                                    <input type="number" class="form-control" id="precio-compra" required>
                                </div>
                                <div class="mb-3">
                                    <label for="margen-ganancia" class="form-label">Margen de Ganancia</label>
                                    <input type="number" class="form-control" id="margen-ganancia" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Estado</label>
                                    <div>
                                        <input type="radio" id="alta" name="estado" value="alta" required>
                                        <label for="alta">alta</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="baja" name="estado" value="baja">
                                        <label for="baja">baja</label>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="../scripts/proveedores.js"></script>
    </div>

</body>

</html>