<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/proveedores.css">
    <link rel="stylesheet" href="../assets/css/estilosGenerales.css">
    <title>Lista de Proveedores</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">

        <nav class="navbar">
            <div class="">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/Abstract Colorful Technology Solutions Professional Logo.png" class="logo"
                        alt="User" />
                </a>
            </div>
            <div class="user-info">
                <div class="user-details">
                    <div>
                        <p class="user-name" id="nombreApellido"></p>
                        <p class="user-email" id="emailUsuario"></p>
                    </div>
                    <img src="../assets/img/icono-salir.svg" alt="cerrar sesion" class="align-self-center icono-salir"
                        id="iconoSalir">
                </div>
            </div>
        </nav>

        <div class="header-title">
            <h2>PROVEEDORES</h2>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar..." id="buscarInput">
                <span class="search-icon" id="iconoBuscar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.099zm-5.44 0a5.5 5.5 0 1 1 0-7.778 5.5 5.5 0 0 1 0 7.778z" />
                    </svg>
                </span>
            </div>
        </div>

        <section class="proveedores d-flex flex-column">
            <button id="openModalBtn" class="btn btn-primary align-self-end">Agregar Proveedor</button>
            <div class="table-responsive">
                <table class="table table-bordered text-center mt-4">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Razón Social</th>
                            <th>Ciudad</th>
                            <th>Domicilio</th>
                            <th>Fecha Ingreso</th>
                            <th>Email</th>
                            <th>Cuit</th>
                            <th>Teléfono</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="proveedores-body">
                    </tbody>
                </table>
            </div>
        </section>



        <!-- MODAL AGREGAR PROVEEDOR-->
        <div id="proveedorModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="modal-title ">CARGA DE PROVEEDOR</h2>
                <span class="linea-divisoria"></span>

                <form id="proveedorForm">
                    <div class="form-group">
                        <label for="nombre-proveedor">Nombres:</label>
                        <input type="text" id="nombre" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="numero-cuit">Número de CUIT:</label>
                        <input type="number" id="cuit" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="razon-social">Razón Social:</label>
                        <input type="text" id="razon_social" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="ciudad">Ciudad:</label>
                        <input type="text" id="ciudad" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="codigo-postal">Código Postal:</label>
                        <input type="number" id="codigo_postal" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="barrio">Barrio:</label>
                        <input type="text" id="barrio" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input type="text" id="direccion" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="numero">Número:</label>
                        <input type="number" id="numero" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfonos:</label>
                        <input type="number" id="telefono" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="mail">Correo Electrónico:</label>
                        <input type="email" id="mail" placeholder="Escriba aquí..." required>
                    </div>

                    <div class="form-group">
                        <label for="observaciones">OBSERVACIONES:</label>
                        <textarea id="detalle" placeholder="Escriba las observaciones..."></textarea>
                    </div>

                    <button type="submit" class="btn-guardar">GUARDAR</button>
                </form>
            </div>

            <!-- Modal de Confirmación -->
            <div id="confirmModal" class="modal_confirm">
                <div class="modal-contenido">
                    <span class="close" onclick="closeModalById('confirmModal')">&times;</span>
                    <p>¿Quieres guardar los cambios realizados?</p>
                    <button onclick="confirmSave()" class="confirm-btn">Si, confirmo</button>
                </div>
            </div>
        </div>

        <!-- Modal de Éxito -->
        <div id="successModal" class="modal_confirm">
            <div class="modal-contenido">
                <span class="close" onclick="closeModalById('successModal')">&times;</span>
                <p><span class="check-icon">&#10003;</span> Sus datos se guardaron correctamente</p>
            </div>
        </div>


        <!-- MODAL EDITAR PROVEEDOR -->
        <div id="editarModal" class="modal">
            <div class="modal-content">
                <span class="closeEdit">&times;</span>
                <h2 class="modal-title">EDITAR PROVEEDOR</h2>
                <span class="linea-divisoria"></span>

                <form id="editarProveedorForm" data-id="">
                    <div class="form-group">
                        <label for="nombre-proveedor">Nombres:</label>
                        <input type="text" id="nombre">
                    </div>

                    <div class="form-group">
                        <label for="numero-cuit">Número de CUIT:</label>
                        <input type="number" id="cuit">
                    </div>

                    <div class="form-group">
                        <label for="razon-social">Razón Social:</label>
                        <input type="text" id="razon_social">
                    </div>

                    <div class="form-group">
                        <label for="ciudad">Ciudad:</label>
                        <input type="text" id="ciudad">
                    </div>

                    <div class="form-group">
                        <label for="codigo-postal">Código Postal:</label>
                        <input type="number" id="codigo_postal">
                    </div>

                    <div class="form-group">
                        <label for="barrio">Barrio:</label>
                        <input type="text" id="barrio">
                    </div>

                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input type="text" id="direccion">
                    </div>

                    <div class="form-group">
                        <label for="numero">Número:</label>
                        <input type="number" id="numero">
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfonos:</label>
                        <input type="number" id="telefono">
                    </div>

                    <div class="form-group">
                        <label for="mail">Correo Electrónico:</label>
                        <input type="email" id="mail">
                    </div>

                    <div class="form-group">
                        <label for="editar-estado">Estado:</label>
                        <select id="editar-estado" required>
                            <option value="alta">Alta</option>
                            <option value="baja">Baja</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="observaciones">OBSERVACIONES:</label>
                        <textarea id="detalle" placeholder="Escriba las observaciones..."></textarea>
                    </div>
                    <button type="button" class="btn-success" id="guardarCambiosBtn">Guardar</button>
                </form>
            </div>
        </div>


        <!-- MODAL DETALLE DE PROVEEDOR -->
        <div id="detalleModal" class="modal">
            <div class="modal-content">
                <span class="closeDetail">&times;</span>
                <h2 class="modal-title">DETALLE DEL PROVEEDOR</h2>
                <span class="linea-divisoria"></span>
                <div>
                    <h3 class="modal-title">Información Personal</h3>
                    <p><strong>Nombre:</strong> <span id="detalle-nombre"></span></p>
                    <p><strong>Razón Social:</strong> <span id="detalle-razon-social"></span></p>
                    <p><strong>CUIT:</strong> <span id="detalle-cuit"></span></p>
                    <span class="linea-divisoria"></span>

                    <h3 class="modal-title">Contactos</h3>
                    <p><strong>Correo:</strong> <span id="detalle-mail"></span></p>
                    <p><strong>Teléfono:</strong> <span id="detalle-telefono"></span></p>
                    <span class="linea-divisoria"></span>

                    <h3 class="modal-title">Ubicación</h3>
                    <p><strong>Ciudad:</strong> <span id="detalle-ciudad"></span></p>
                    <p><strong>Código Postal:</strong> <span id="detalle-codigo-postal"></span></p>
                    <p><strong>Barrio:</strong> <span id="detalle-barrio"></span></p>
                    <p><strong>Dirección:</strong> <span id="detalle-direccion"></span></p>
                    <p><strong>Número:</strong> <span id="detalle-numero"></span></p>
                    <p><strong>Fecha de Ingreso:</strong> <span id="detalle-fecha-ingreso"></span></p>
                    <span class="linea-divisoria"></span>

                    <h3 class="modal-title">Estado del Proveedor</h3>
                    <p><strong>Estado:</strong> <span id="detalle-estado"></span></p>
                    <span class="linea-divisoria"></span>
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/productos.js"></script>
    <script src="../scripts/cerrarsesion.js"></script>

</body>

</html>